# SentinelGrid — Cowrie SSH Honeypot  v4
# Identity: ClarityMed Health Systems

[honeypot]
hostname = claritymed-app01
log_path = var/log/cowrie
download_path = var/lib/cowrie/downloads
state_path = var/lib/cowrie
etc_dir = honeyfs/etc
txtcmds_dir = txtcmds
ssh_version = SSH-2.0-OpenSSH_8.2p1 Ubuntu-4ubuntu0.5

[output_jsonlog]
enabled = true
logfile = ${honeypot:log_path}/cowrie.json

[output_textlog]
enabled = false

[ssh]
enabled = true
listen_endpoints = tcp:2222:interface=0.0.0.0
version = SSH-2.0-OpenSSH_8.2p1 Ubuntu-4ubuntu0.5

[telnet]
enabled = false
